<body class="bg">
    


<div class="text-center p-8">
    <h2 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-blue-600">
        Why to choose US?
    </h2>

    <div class="flex flex-wrap items-center mt-20 text-left text-center">
        <div class="w-full md:w-2/5 lg:w-1/2 px-4">
          <img
            src="assets/images/WhatsApp Image 2025-04-29 at 20.17.10.jpeg"
            alt="Sample"
            class="w-72 h-82 inline-block rounded shadow-lg border border-merino-100"
          >
        </div>
      
      
        <div class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl text-blue-600">
                🌱 Nurturing Young Minds
            </h3>
            <p class="sm:text-lg mt-6">
                Every child holds the potential to shape the future. In this safe and engaging space, 
                children are encouraged to explore, ask questions, and grow together. Through play, learning, and connection, we lay the foundation for confidence, creativity, and lifelong curiosity.


            </p>
        </div>
    </div>

    <div class="flex flex-wrap items-center mt-20 text-left text-center">
        <div class="w-full md:w-3/5 lg:w-1/2 px-4">
            <img
            src="assets/images/WhatsApp Image 2025-04-29 at 20.21.41.jpeg"
            alt="Sample Image"
            class="w-72 h-82 inline-block rounded shadow-lg border border-merino-100"
            >    
         </div>

        <div class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl text-blue-600">
                🤝 Building Confidence Through Play
            </h3>
            <p class="sm:text-lg mt-6">
                Children thrive in spaces where they can move, play, and interact freely. 
                Whether they're engaged in structured games or spontaneous teamwork, these activities foster communication, trust, and emotional growth. It’s through play that they begin to understand the world—and their role in it.
            </p>
        </div>
    </div>

    <div class="flex flex-wrap items-center mt-20 text-left  text-center">
        <div class="w-full md:w-3/5 lg:w-1/2 px-4">
 <img
      src="assets/images/WhatsApp Image 2025-04-30 at 16.56.28.jpeg"
      alt="Uploaded Image"
      class="w-73 h-72 inline-block rounded shadow-lg border border-merino-100"
       />        
</div>
        <div class="w-full md:w-2/5 lg:w-1/2 px-4 text-center md:text-left lg:pl-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl text-blue-600">
                🌟 Growing Strong Through Play
            </h3>
            <p class="sm:text-lg mt-6">
                Your child's journey begins with movement, laughter, and connection.
                In every playful jump and shared game, they’re learning confidence, teamwork, and self-expression. We create joyful spaces that nurture their bodies and minds—helping them grow into happy, capable individuals.
            </p>
        </div>
    </div>

    <div class="flex flex-wrap items-center mt-20 text-left text-center">
        <div class="w-full md:w-3/5 lg:w-1/2 px-4">
            <img src="assets/images/photo2.jpeg"       class="w-72 h-62 inline-block rounded shadow-lg border border-merino-100"
            />  
        </div>
        <div class="w-full md:w-2/5 lg:w-1/2 px-4 md:order-first text-center md:text-left lg:pr-12">
            <h3 class="font-bold mt-8 text-xl md:mt-0 sm:text-2xl text-blue-600">
                ✏️ Little Minds, Big Steps
            </h3>
            <p class="sm:text-lg mt-6">
                Every letter they trace and every page they explore builds the foundation for lifelong learning. With gentle guidance and joyful curiosity, our children grow in confidence—developing focus, early literacy, and a love for learning, 
                one small step at a time.
            </p>
        </div>
    </div>

</div>
</body>